

header {
	text-align: center;
	opacity: 1;
}

body {
	background-color: #104a80;
}

footer {
	color: black;
	opacity: 0.3;
}

#headerImg {

	width: 20%;
	margin: auto;
	padding: 0px;

}


.mainMenu {
	z-index: 99;
	background-color: #302B27;
	opacity: 1;
	text-align: center;
	width: 85%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	margin-top: -5px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.mainMenu .menuItem {
	background-color: #302B27;
	color: white;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 20px;
	padding-bottom: 20px;
	width: auto;
	margin: -2px;
	margin-top: 0px;
	text-decoration-color: none;
	text-decoration-line: none;
}

.mainMenu .menuItem:hover {

	background-color: #F5F3F5;
	color: black;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 20px;
	padding-bottom: 20px;
	width: auto;
	margin: -2px;
	margin-top: 0px;
	text-decoration-color: none;
	text-decoration-line: none;
}

.login {
	position: fixed;
	opacity: 0.8;
	left: 1%;
	min-height: 200px;
	background-color: #42a832;
	color: white;
	border: solid black;
	border-width: 1px;
	border-radius: 3px;
	width: 13%;
}



.mainContainer {
	opacity: 0.9;
	background-color: #1d1f1c;
	color: #F5F3F5;
	min-height: 1200px;
	width: 85%;
	margin: auto;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-image: url("https://cdn.hipwallpaper.com/i/44/81/wCzrK0.jpg");
	background-size: 100%;
}

.containerContent {
	width: 50%;
	margin-left: 30px;
	margin-bottom: 15px;
}

.containerContent a {
	height: 20px;
	padding: 1px;
	color: #1dff1c;
}

.space {
	padding: 2%;
}

#selectedPage {
	border-top: solid white;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

#login input, button, p {
	margin: 4%;
}

#valgtFylke {
	font-size: 150%;
}

.marker {
	background-image: url('bilder/mapIcon.png');
	background-size: 73% 100%;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
